<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="google-site-verification" content="i3Ha6BDE6eiBUXKkaUTDfGs7bjTKHP-g0bLXpDvaqho" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>welcome to bidding site</h1>
    <h2>We will provide the service soon !</h2>

    <div>
        <a href="{% url 'accounts:login' %}">Log In</a>
        <a href="{% url 'accounts:register' %}">Register</a>
    </div>
</body>
</html>